<!-- app.component.html -->
<input type="text" [(ngModel)]="textInput" placeholder="Enter text here">
<p>You entered: {{ textInput }}</p>
<li *ngFor="let item of fam; index as i;">Name:{{item.Name}} Rent:{{item.Rent}}</li>                   

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
<table > 
    <tr> 
        <td>
            <h1>Name</h1>
        </td>
        <td>
            <h1> Members</h1>
        </td>
        <td> 
            <h1> Rent </h1>
        </td>
    </tr>
    <tr *ngFor="let item of fam;">
        <td>
            <p>{{item.Name}}</p>
        </td>
        <td> 
            <p>{{item.Members}}</p>
        </td>
        <td> 
            <p>{{item.Rent}}</p>
        </td>
    </tr>
</table>